$('#med-table').append('<tr id="<%=@item[:id]%>"><th scope="row"><%=@item[:id]%></th><td><%=@item[:name]%></td>'+
	'<td id="<%=@item[:name]%>-qty">'+
    '<%=number_field_tag "med_quantity", params[:med_quantity], min: 1, max: @item[:quantity], value: 0%></td></tr>');